
<h1>{{page}}</h1>
<h1>{{page.pageIntro}}</h1>
<h1>{{page.pageIntro.relatedTopics}}</h1>
<h1>{{page.pageIntro.relatedTopics.title}}</h1>

<h1>{{relatedTopics}}</h1>
<h1>{{relatedTopics.title}}</h1>

<h2>views/partials/tester.handlebars</h2>
<p>attempted to render from mode/view/test.js</p>
